<%- include('../includes/head') %>
<%- include('../includes/header') %>

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Change Password</h6>
				</div>
				<div class="ui-block-content">

					
					<!-- Personal Information Form  -->
					
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">New Password</label>
									<input class="form-control" id="password" type="password">
								</div>

								<div class="form-group label-floating">
									<label class="control-label">Old Password</label>
									<input class="form-control" id="passwordOld" type="password">
								</div>
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Confirm New Password</label>
									<input class="form-control" id="passwordCf" type="password">
								</div>
							</div>
                            
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button onclick="updatePassword('<%= user.id %>','<%= user.accessToken %>')" class="btn btn-primary btn-lg full-width">Change Password</button>
							</div>
					
						</div>
				
					
					<!-- ... end Personal Information Form  -->
				</div>
			</div>
		</div>
        <%- include('../includes/account-left-nav') %>
	</div>
</div>


<%- include('../includes/footer') %>